/* app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir clases personalizadas dentro de @layer components */
@layer components {
    /* Estilos Generales */
    html {
        @apply antialiased scroll-smooth bg-gray-100;
    }

    body {
        @apply min-h-screen bg-gray-100 text-gray-800;
    }

    /* Título Principal (h1) */
    h1 {
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold;
    }

    /* Subtítulo (h2) */
    h2 {
        @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;
    }

    /* Tercer Nivel (h3) */
    h3 {
        @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium;
    }

    /* Cuarto Nivel (h4) */
    h4 {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl font-medium;
    }

    /* Quinto Nivel (h5) */
    h5 {
        @apply text-sm sm:text-base md:text-lg lg:text-xl font-medium;
    }

    /* Sexto Nivel (h6) */
    h6 {
        @apply text-xs sm:text-sm md:text-base lg:text-lg font-medium;
    }

    /* Párrafo (p) */
    p {
        @apply text-sm sm:text-base md:text-lg lg:text-xl;
    }

    /* Texto pequeño (small) */
    small {
        @apply text-xs sm:text-sm md:text-base lg:text-lg;
    }

    /* Botones Generales */
    .btn {
        @apply rounded-md hover:ring-2 transition duration-200;
    }

    .btn-success {
        @apply text-base-100 rounded-md hover:ring-2 transition duration-200 btn-xs sm:btn-xs md:btn-sm lg:btn-md;
    }

    .btn-info-mod{
        @apply btn btn-info text-base-100 rounded-md hover:ring-2 transition duration-200 btn-xs sm:btn-xs md:btn-sm lg:btn-md
    }

    .btn-block_info {
        @apply btn btn-info text-base-100 rounded-md hover:ring-2 transition duration-200 block w-full;
    }

    .btn-primary {
        @apply bg-blue-500 text-white hover:bg-blue-600;
    }

    .btn-accept {
        @apply btn btn-info text-base-100 rounded-md hover:ring-2 transition duration-200 btn-xs sm:btn-xs md:btn-sm lg:btn-md;
    }

    .btn-warning-mod{
        @apply btn btn-warning text-base-100 rounded-md hover:ring-2 transition duration-200 btn-xs sm:btn-xs md:btn-sm lg:btn-md;
    }
    .btn-cancel {
        @apply btn btn-error text-base-100 rounded-md hover:ring-2 transition duration-200 btn-xs sm:btn-xs md:btn-sm lg:btn-md;
    }

    .btn-secondary {
        @apply bg-gray-500 text-white hover:bg-gray-600;
    }

    /* Botones de Outline */
    .btn-outline {
        @apply border border-gray-300 bg-transparent text-gray-700 hover:bg-gray-100;
    }

    /* Contenedores Principales */
    .container__25,
    .container__75 {
        @apply mx-auto bg-white p-6 shadow-md rounded-lg w-full;
    }

    .container__25 {
        @apply max-w-3xl;
    }

    .container__75 {
        @apply max-w-screen-2xl; /* Ampliado para pantallas muy grandes */
    }

    .container__25__table,
    .container__75__table {
        @apply flex flex-col items-center pt-6 px-6 py-4 shadow-md mx-auto mt-28 bg-white;
    }

    /* Tabla Responsiva */
    .table-responsive {
        @apply w-full overflow-x-auto;
    }

    .table {
        @apply min-w-full divide-y divide-gray-200;
    }

    .table th {
        @apply text-xs font-medium text-gray-500 uppercase tracking-wider;
    }

    .table td {
        @apply text-sm text-gray-900 whitespace-nowrap overflow-hidden truncate;
    }

    /* Barra de Navegación */
    .nav__bar {
        @apply navbar max-w-screen-xl shadow-md bg-white flex items-center justify-between mx-auto;
    }

    .nav__bar__button {
        @apply btn;
    }

    .nav__bar__logo {
        @apply text-xl font-bold truncate sm:text-lg;
    }
    .form_data_entry {
        p {
            /* Tamaños de texto responsivos que aumentan con el tamaño de pantalla */
            @apply text-sm sm:text-base md:text-base lg:text-base xl:text-base 2xl:text-base;
        }
    }

    /* Entrada de Datos */
    .input__data__entry {
        @apply mt-1 block rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 w-full;
    }


    /* Tabla de Empleados */
    .employee__table {
        @apply table min-w-full;
    }

    /* Logo */
    .logo {
        @apply text-5xl font-extrabold ml-auto mr-4;
    }

    /* Overflow */
    .overFlow {
        @apply overflow-x-auto w-full max-w-full;
    }

    /* Estilos Específicos para FileManager */

    /* Contenedor Principal */
    .file-manager-container {
        @apply mx-auto bg-white p-4 sm:p-6 lg:p-8 shadow-md rounded-lg w-full max-w-full;
        @apply max-w-screen-2xl; /* Aumentar para pantallas hasta 4K */
    }

    /* Título Principal */
    .file-manager-title {
        @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-6 text-center;
    }

    /* Contenedor de Formularios */
    .file-manager-form-control {
        @apply form-control mb-6;
    }

    /* Flexbox para Formularios Responsivos */
    .file-manager-form-flex {
        @apply flex flex-col sm:flex-row items-start sm:items-center;
    }

    /* Input de Texto para Crear Carpeta */
    .file-manager-input {
        @apply input input-bordered w-full sm:w-auto flex-1 mb-4 sm:mb-0;
    }

    /* Botones del FileManager */
    .file-manager-create-button,
    .file-manager-upload-button {
        @apply btn flex items-center justify-center;
    }

    .file-manager-create-button {
        @apply btn-primary ml-0 sm:ml-4;
    }

    .file-manager-upload-button {
        @apply btn-secondary ml-0 sm:ml-4;
    }

    /* Mensajes de Estado (Éxito y Error) */
    .file-manager-message-success {
        @apply alert alert-success mb-6;
    }

    .file-manager-message-error {
        @apply alert alert-error mb-6;
    }

    /* Botón de Volver */
    .file-manager-back-button {
        @apply btn btn-outline mb-6;
    }

    /* Estilos para Botón de Volver Deshabilitado */
    .file-manager-back-button-disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    /* Grid para Listar Carpetas y Archivos */
    .file-manager-grid {
        @apply grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-12 gap-4;
    }

    /* Tarjeta de Carpeta o Archivo */
    .file-manager-card {
        @apply flex flex-col items-center p-4 bg-base-100 shadow-md rounded-lg hover:bg-gray-50 transition duration-200;
        @apply w-full max-w-xs;
    }

    /* Ícono de Carpeta y Archivo */
    .file-manager-folder-icon,
    .file-manager-file-icon {
        /* Tamaños Responsivos */
        @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-2;
    }

    .file-manager-folder-icon {
        @apply text-yellow-500; /* Color para carpeta */
    }

    .file-manager-file-icon {
        @apply text-blue-500; /* Color para archivo */
    }

    /* Nombre del Archivo o Carpeta */
    .file-manager-name {
        @apply text-center text-sm sm:text-base md:text-lg font-medium text-gray-900 truncate w-24;
    }

    /* Botón Eliminar */
    .file-manager-delete-button {
        @apply btn btn-error btn-sm mt-2;
    }

    /* Loader */
    .loader {
        @apply border-t-4 border-blue-500 animate-spin;
    }

    /* FileViewer */
    .file-viewer {
        @apply w-full max-w-full h-auto overflow-hidden;
    }

    @media (max-width: 768px) {
        .file-viewer {
            min-height: 100vh;
        }
    }

    @media (min-width: 1920px) {
        .file-viewer {
            width: 100%;
            height: 100%;
        }
    }

    /* Estilos Adicionales para el FileViewerModal */
    /* Asegurar que el iframe ocupe el 100% del contenedor */
    .file-viewer iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
@layer utilities {
    .bg-dicatho {
        background-color: #0096dd;
    }

    .bg-pachinos {
        background-color: #df7a1c;
    }

    .bg-cepac {
        background-color: #2c3691;
    }

    .bg-vsp{
        background-color: #d30009;
    }
    .bg-penitencia{
        background-color: #fec63e;
    }
}
